
.container h1{
  color: #000000;
  text-align: center;
}

details{
  background-color: #edf6fc;
  color: #000000;
  font-size: 1.5rem;
}

summary {
  color: #2a83ff;
  padding: .5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;  
  transition: height 1s ease;
}